{% extends 'subscription/base.html' %}
{% load widget_tweaks %}

{% block body%}
<div class="container">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<!-- Panel -->
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				<h3 class="text-center">Exclusive Plan</h3>
			</div>
			<div class="panel-body text-center">
				<h1>USD $29,00 / Month</h1>
			</div>
			<ul class="list-group list-group-flush text-center">
				<li class="list-group-item">Unlimited Cookies</li>
				<li class="list-group-item">Lifetime beer</li>
				<li class="list-group-item">All you can eat sushi!</li>
			</ul>
			<div class="panel-footer">
				<button class="btn btn-lg btn-block btn-success" data-toggle="modal"
					data-target="#modal">Shut up and <br> take my money!</a>
				</div>
			</div>
			<!-- End Panel -->
	</div>
	<div class="col-md-4"></div>
</div>

{% if success %}
	<div class="alert alert-success alert-dismissible text-center" role="success">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Success!</strong> {{ success }}.
	</div>
{% endif %}

{% if error %}
	<div class="alert alert-danger alert-dismissible text-center" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Error!</strong> {{ error }}.
	</div>
{% endif %}

{% include 'subscription/form.html' %}

{% endblock%}
