{% extends 'subscription/base.html' %}

{% block body%}
<div class="container">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<!-- Panel -->
		<div class="panel panel-info">
			<div class="panel-heading clearfix">
				<h3 class="text-center">Exclusive Plan</h3>
			</div>
			<div class="panel-body text-center">
				<h1>USD $29,00 / Month</h1>
			</div>
			<ul class="list-group list-group-flush text-center">
				<li class="list-group-item">Unlimited Cookies</li>
				<li class="list-group-item">Lifetime beer</li>
				<li class="list-group-item">All you can eat sushi!</li>
			</ul>
			<div class="panel-footer">
				<button class="btn btn-lg btn-block btn-success" data-toggle="modal"
					data-target="#modal">Shut up and take my money!</a>
				</div>
			</div>
			<!-- End Panel -->
	</div>
	<div class="col-md-4"></div>
</div>

<div class="alert alert-danger alert-dismissible hidden" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>

<!-- Modal Window -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog"
	aria-labelledby="label" aria-hidden="true">
	<form method="post" action="{% url 'subscribe' %}" data-toggle="validator"> <!-- Begin Form -->
		{% csrf_token %}
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="label">Subscription</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="text" class="form-control" id="name" name="name"
							placeholder="Your name" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="email" name="email"
							placeholder="Your email address" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group row">
						<div class="text-center">
							{% load staticfiles %}
							<img src="{% static 'subscription/images/credit-card.jpg' %}" class="img-fluid" alt="Credit Card" />
						</div>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" id="card-number" name="card-number"
							placeholder="XXXX XXXX XXXX XXXX" maxlength="12" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group input-group">
						<div class="input-group-addon">EXP</div>
						<input class="form-control" type="month" value="2020-01" id="expiration-date"
							name="expiration-date" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group input-group">
						<div class="input-group-addon">CVC</div>
						<input class="form-control" type="text" id="cvc" name="cvc"
							placeholder="XXX" maxlength="3" pattern="^[0-9]{3}$" required>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Subscribe</button>
				</div>
			</div>
		</div>
	</form><!--  End Form -->
</div>
{% endblock%}
